In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
vote_reg_df = pd.read_csv("../datasets/voting_registration.csv")

In [4]:
vote_reg_df.rename(columns={"STATE": "state_name"}, inplace=True)

vote_reg_df.set_index('state_name', inplace=True)

vote_reg_df.drop('UNITED STATES', axis=0, inplace=True)

vote_reg_df_cleaned=vote_reg_df[['Total Population', 'Total Citizen Population', 'Total registered', 'Total voted']]

vote_reg_df_cleaned=vote_reg_df_cleaned.rename(columns={"Total Population": "population"
                                    , "Total Citizen Population": "citizen_population"
                                    , "Total registered": "total_registered"
                                    , "Total voted": "total_voted"})

v_number=vote_reg_df_cleaned.apply(lambda x: x.str.replace(',', '').astype(float), axis=1)

v_number.apply(pd.to_numeric, errors='coerce')

,population,citizen_population,total_registered,total_voted
state_name,,,,
ALABAMA,3717.0,3651.0,2526.0,2095.0
ALASKA,518.0,502.0,358.0,308.0
ARIZONA,5196.0,4585.0,3145.0,2769.0
ARKANSAS,2216.0,2116.0,1456.0,1241.0
CALIFORNIA,29894.0,24890.0,16096.0,14416.0
COLORADO,4242.0,3895.0,2893.0,2707.0
CONNECTICUT,2759.0,2483.0,1763.0,1586.0
DELAWARE,729.0,669.0,487.0,417.0
DISTRICT OF COLUMBIA,553.0,512.0,420.0,380.0
FLORIDA,16202.0,14428.0,9604.0,8578.0
GEORGIA,7626.0,7048.0,4892.0,4246.0
HAWAII,1064.0,974.0,530.0,460.0
IDAHO,1224.0,1150.0,790.0,714.0
ILLINOIS,9723.0,8970.0,6665.0,5719.0
INDIANA,4988.0,4795.0,3298.0,2795.0
IOWA,2394.0,2292.0,1657.0,1454.0
KANSAS,2142.0,2029.0,1438.0,1243.0
KENTUCKY,3348.0,3246.0,2253.0,1850.0
LOUISIANA,3463.0,3353.0,2446.0,2067.0
MAINE,1058.0,1038.0,830.0,754.0
MARYLAND,4623.0,4158.0,3114.0,2737.0
MASSACHUSETTS,5374.0,4967.0,3660.0,3315.0
MICHIGAN,7624.0,7332.0,5434.0,4713.0
MINNESOTA,4190.0,3985.0,3055.0,2738.0
MISSISSIPPI,2203.0,2170.0,1725.0,1470.0
MISSOURI,4626.0,4486.0,3333.0,2906.0
MONTANA,798.0,790.0,581.0,521.0
NEBRASKA,1407.0,1336.0,1008.0,893.0
NEVADA,2234.0,1975.0,1371.0,1195.0
NEW HAMPSHIRE,1044.0,1012.0,763.0,698.0
NEW JERSEY,6862.0,5958.0,4165.0,3665.0
NEW MEXICO,1547.0,1396.0,916.0,765.0
NEW YORK,15506.0,13751.0,9142.0,7869.0
NORTH CAROLINA,7631.0,6960.0,5194.0,4700.0
NORTH DAKOTA,583.0,564.0,424.0,362.0
OHIO,8811.0,8499.0,6128.0,5408.0
OKLAHOMA,2923.0,2746.0,1861.0,1555.0
OREGON,3185.0,2929.0,2147.0,1942.0
PENNSYLVANIA,9980.0,9596.0,6909.0,6008.0
RHODE ISLAND,836.0,766.0,538.0,464.0
SOUTH CAROLINA,3733.0,3598.0,2575.0,2233.0
SOUTH DAKOTA,631.0,612.0,437.0,362.0
TENNESSEE,5057.0,4872.0,3251.0,2630.0
TEXAS,20172.0,17378.0,11724.0,9626.0
UTAH,2096.0,1969.0,1398.0,1234.0
VERMONT,500.0,488.0,351.0,305.0
VIRGINIA,6343.0,5829.0,4399.0,3973.0
WASHINGTON,5592.0,5104.0,3906.0,3382.0
WEST VIRGINIA,1434.0,1425.0,913.0,723.0
WISCONSIN,4465.0,4354.0,3323.0,3068.0
WYOMING,436.0,427.0,304.0,277.0

In [98]:
vote_reg_df_cleaned.head()

           population citizen_population total_registered total_voted
state_name
ALABAMA         3,717              3,651            2,526       2,095
ALASKA            518                502              358         308
ARIZONA         5,196              4,585            3,145       2,769
ARKANSAS        2,216              2,116            1,456       1,241
CALIFORNIA     29,894             24,890           16,096      14,416

In [5]:
v_number['percent_registered']=v_number['total_registered']/v_number['citizen_population']
v_number['percent_voted']=v_number['total_voted']/v_number['citizen_population']
v_number.head()

,population,citizen_population,total_registered,total_voted,percent_registered,percent_voted
state_name,,,,,,
ALABAMA,3717.0,3651.0,2526.0,2095.0,0.691865,0.573815
ALASKA,518.0,502.0,358.0,308.0,0.713147,0.613546
ARIZONA,5196.0,4585.0,3145.0,2769.0,0.685932,0.603926
ARKANSAS,2216.0,2116.0,1456.0,1241.0,0.688091,0.586484
CALIFORNIA,29894.0,24890.0,16096.0,14416.0,0.646685,0.579188

In [6]:
v_number.to_csv('../datasets/census_voter_registration.csv')